<div class="relative flex h-full flex-col justify-between">
  <div class="flex-shrink">
    <header class="flex h-16 items-center gap-4 p-4 shadow-lg">
      <button
        class="flex size-8 items-center p-1 lg:hidden"
        (click)="toggleMenu()">
        <mat-icon class="text-white">{{
          isMenuOpened ? 'close' : 'menu'
        }}</mat-icon>
      </button>
      <h1 class="text-xl font-bold text-white">
        {{ chatService.ch$ | async | uppercase }}
      </h1>
    </header>
    <section
      #messageList
      class="h-[calc(100dvh_-_10.5rem)] overflow-y-scroll scroll-smooth px-4 py-4 lg:px-28">
      @for (msg of chat | async; track $index) {
        <app-chat-message [payload]="msg" />
      }
    </section>
  </div>

  <section class="p-4 shadow-[0px_-10px_15px_rgba(0,0,0,0.1)]">
    <app-user-input />
  </section>
</div>
